<nav class="navbar">
  <div class="navbar-container">

    <!-- LOGO (LEFT) -->
    <div class="navbar-brand">
      <a routerLink="/" class="logo">
        <img src="logo.jpg" alt="Artist Logo" class="logo-img" />
      </a>
    </div>

    <!-- MENU (RIGHT) -->
    <div class="nav-right nav-menu" [class.active]="menuOpen">
      <ul class="nav-list">
        <li *ngFor="let link of navLinks" class="nav-item">
          <ng-container *ngIf="link.path && link.path.indexOf('http') === 0; else routerLinkTpl">
            <a [href]="link.path" target="_blank" rel="noopener" class="nav-link">{{ link.label }}</a>
          </ng-container>
          <ng-template #routerLinkTpl>
            <a
              [routerLink]="link.path"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="nav-link">
              {{ link.label }}
            </a>
          </ng-template>
        </li>
      </ul>
    </div>

    <!-- MOBILE MENU TOGGLE -->
    <button
      class="menu-toggle"
      (click)="toggleMenu()"
      [class.active]="menuOpen">
      <span></span>
      <span></span>
      <span></span>
    </button>

  </div>
</nav>