<div class="music-page">
	<div class="container">
		<div class="music-grid">
			<div class="left-column">
				<div class="album-art">
					<div class="art-frame">
						<img [src]="album.image" [alt]="album.title" loading="lazy" />
					</div>
				</div>
			</div>

			<div class="right-column">
				<div class="tracks-list">
					<h2 class="album-title">{{ album.title }}</h2>
					<div *ngFor="let t of album.tracks" class="track-item">
						<div class="track-info">
							<h3 class="track-title">{{ t.title }}</h3>
						</div>
						<div class="track-action">
							<a [href]="t.spotify" target="_blank" rel="noopener" class="btn-listen">Listen</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
